$primary-color: #7C3AED;
$secondary-color: #5b2fa7;
$white-color: #FBFAFF;
$mid-white: #E2D6FF;
$hover-white-color: #FFFFFF;
$super-light-gray: #E3E3E3;
$light-gray: #CAB3FF;
$gray: #7C7C8A;
$super-gray: #756966;